<%= nested_form_for @campaign, :html => { class: 'clearfix' } do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
    <% @campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id='campaign_form'>
  
<!-- <div id='media_preview'><%= @campaign.chosen_media %></div> -->
 <div class='campaign_form_piece clearfix'>   
     <div class="field">
       <%= f.label :title %><br />
       <%= f.text_field :title %>
     </div>
   
     <div class="field">
        <%= f.label :media %><br />
        <div id="tabs">
           <ul>
             <li><a href="#media1">Image</a></li>
             <li><a href="#media2">Video</a></li>
           </ul>
           <div id="media1"><%= f.file_field :media %></div>
           <div id="media2"><%= f.text_field :video, { placeholder: 'Link to Video' } %></div>
        </div>
     </div>

     <div class="field">
       <%= f.label :icon %><br />
       <%= f.file_field :icon %>
     </div>

     <div class="field">
       <%= f.label :custom_path %><br />
       <%= f.text_field :custom_path %>
     </div>

</div>

<div class='campaign_form_piece clearfix'>
    <div class="field">
      <%= f.label :goal %><br />
      <%= f.text_field :goal %>
    </div>

    <div class="field">
      <%= f.label :expiry %><br />
      <%= f.date_field :expiry %>
    </div>
  
    <div class="field">
      <%= f.label :hub %><br />
      <%= f.text_field :hub %>
    </div>
  
    <div class="field">
      <%= f.label :token %><br />
      <%= f.text_field :token %>
    </div>

    <div class="field">
      <table> 
       <tr>
         <td><%= f.label :kind, "AE / RSM" %></td>
         <td><%= f.radio_button(:kind, "AE / RSM") %></td>
       </tr>
       <tr>
         <td><%= f.label :kind, "SDR" %></td>
         <td><%= f.radio_button(:kind, "SDR") %></td>
       </tr>
       <tr>
         <td><%= f.label :kind, "Marketing" %></td>
         <td><%= f.radio_button(:kind, "Marketing") %></td>
       </tr>       
       <tr>
         <td><%= f.label :kind, "Customer" %></td>
         <td><%= f.radio_button(:kind, "Customer") %></td>
       </tr>
      </table>
    </div>
</div>  

    <div class="field" style="float:left;">
      <%= f.label :details %>
      <%= f.cktext_area :details, { placeholder: 'Details', id: 'details', :ckeditor => {:language => 'en'} } %>
    </div>

    <div class="actions clearfix" style="float:left;">
      <%= f.submit %>
    </div>
  </div>


  <div id='rewards_form'>
    <h2>Rewards</h2>

    <%= f.fields_for :rewards, :html => { class: 'reward' } do |reward| %>
      <div class='reward'>   
        <div class="field">
          <%= reward.cktext_area :description, { placeholder: 'Description', :ckeditor => {:toolbar => 'tiny', :language => 'en'} } %>
        </div>    
        <div class="field">
          <%= reward.number_field :milestone, { placeholder: 'Milestone' } %>
        </div> 
        <%= reward.link_to_remove "Remove this reward" %>
      </div>
    <% end %>
    <p><%= f.link_to_add "Add a reward", :rewards %></p>
  </div>
<% end %>
