<div class='container block'>
	<h1> Help Our Reps Spread the Word About Customer Advocacy </h1>
	<section class='summary'>
		<p>Our sales reps are on a mission to talk with as many forward-thinking marketers as they can about the power of customer advocacy before the end of the year.</p>
		<p>Watch the videos below to get to know our reps. Then, connect them with people in your network who could use an advocate marketing program to generate more referrals, reviews, references and more!</p>
		<hr/>
	</section>
	<div class='grid clearfix'>
	  <% @campaigns.each_with_index do |campaign, i| %>
	      <div class='grid-item'>
	        <%= link_to campaign do %>
		      <%= campaign.chosen_media %> 
	          <div class='grid-overlay'>
	          	<%= campaign.title %><br />
	          	<span class='grid-progress'><%= campaign.referrals.count %> / <%= campaign.goal %><br />REFERRALS</span>
	          </div>
	        <% end %>
	      </div>
	  <% end %>
	</div>
</div>