<div class='container'>
	<div class='grid'>
	  <% @campaigns.each_with_index do |campaign, i| %>
	      <div class='grid-item'>
	        <%= link_to campaign do %>
		      <%= campaign.chosen_media %> 
	          <div class='grid-overlay'>
	          	<%= campaign.title %><br />
	          	<span class='grid-progress'><%= campaign.referrals.count %> / <%= campaign.goal %><br />REFERRALS</span>
	          	<span class='grid-rewards'><%= pluralize(campaign.rewards.count, "REWARD").upcase %></span>
	          </div>
	        <% end %>
	      </div>
	  <% end %>
	</div>
</div>