<div id='leaderboard' class='container clearfix block'>
	<h2>Help Us Spread The Word About Customer Advocacy</h2>
	<div class='leaderboard_summary'>
		<p>We're on a mission to talk with as many forward-thinking marketers as we can about the power of customer advocacy before the end of the year. That's why we are holding a fun and friendly competition among our sales and marketing teams to see who can receive the most referrals!</p>
		<p>We want you to be part of this! By clicking any of the images on the leaderboard you will gain access to each Influvian's personalized page. From there, you will get to know them better and see what their fun ask is.</p>
		<p>There are some pretty creative and hilarious videos so take a gander and help us spread the word about customer advocacy!</p>
	</div>
	<div class='leaderboard_count'>
		<h2>&nbsp;</h2>
		<% (1..[@collection[:"AE / RSM"].count, @collection[:"SDR"].count, @collection[:"Marketing"].count].max).each do |i| %>
			<div class='leaderboard_campaign'>
				<%= i %>
			</div>
		<% end %>
	</div>
	<% @collection.each do |type, campaigns| %>
		<div class='leaderboard_section right'>
				<h2><%= type %></h2>
				<% campaigns.each do |campaign| %>
				<div class='leaderboard_campaign'>
					<%= link_to campaign do %>
						<%= image_tag(campaign.icon.url(:thumb)) %> 
						<div class='leaderboard_meta clearfix'>
							<span class='leaderboard_title'><%= campaign.custom_path.capitalize %></span>
							<span class='leaderboard_refs'> <%= campaign.progress %> <%= 'Referral'.pluralize(campaign.progress) %> </span>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	<% end %>
</divz>
	