<style>
	.hero_background {
		background: <%= @campaign.hero %>;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
	}
</style>

<script>
var ready;
var currentProgress = <%= @campaign.referrals.count %>;
function getProgress() {
  var goal = <%= @campaign.goal %>;
  var increment = $('#progress').width()/goal;
  var countdown = new Countdown({
      selector: '#countdown',
      msgPattern: "<div class='time_section'>{days}</div><div class='time_section'>{hours}</div><div class='time_section'>{minutes}</div><br/><div><div class='time_desc'>days</div><div class='time_desc'>hours</div> <div class='time_desc'>minutes</div></div>",
      dateStart: new Date(),
      dateEnd: new Date(Date.parse("<%= @campaign.expiry %>"))
  });
  var completed = currentProgress >= goal;
  var cap = completed ? increment * goal : increment * currentProgress;

  $('#bar').css('right', function() {
    return $('#progress').width() - (cap - 5) + "px";
  });
  if (completed) {
  	$('#bar').css('border-radius', '28px');
  }

  $('#progress .current').html(currentProgress + " " + pluralize('referral', currentProgress));
}
ready = function() {
	getProgress();
	$(document).ajaxSuccess(function(event, request) {
	  var msg = JSON.parse(request.responseText);
	  if (msg) {
	  	notie.alert(1, msg.status, 2.5);
	    currentProgress++;
	  	getProgress();
	  	$('#new_referral')[0].reset();
	  }
	});
}

$(document).ready(ready)
$(document).on('page:load', ready)
</script>

<header id='campaign_hero'>
	<div class='hero_background'></div>
	<div class='container clearfix'>
		<div class='campaign_media'>
			<%= @campaign.chosen_media %>
		</div>
		<div class='hero_details'>
			<h1><%= @campaign.title %></h1>
			<div id='progress'>
				<p>
					<span class='current'><%= @campaign.referrals.count %></span>
					<span class='progess_goal'>submitted of <%= @campaign.goal %> goal</span>
				</p>
				<div id='bar' data-value='<%= @campaign.referrals.count %>'></div>
			</div>
			<p id='countdown' class='countdown'></p>
			<!-- <span class='hero_bold'>time left</span> -->
		</div>
	</div>
</header>
<% if @campaign.contact == current_contact %>
	<div class='adminbar'>
		<%= link_to "Edit Campaign", edit_campaign_path(@campaign) %>
	</div>
<% end %>
<div class='container'>
	<div class='campaign_content'>
		<p><%= @campaign.details.html_safe %></p>
	</div>
	<div class='campaign_meta'>
		<div class='content_share'>
		<a target="_blank" onclick="window.open('http://www.facebook.com/sharer/sharer.php?u=<%=u campaign_url(@campaign) %>&t=<%= @campaign.title %>','name','width=600,height=400')"><i class='fa fa-facebook-square'></i> <span>Share</span></a>
		<a target="_blank" onclick="window.open('http://twitter.com/intent/tweet?status=<%= @campaign.title %>+<%= campaign_url(@campaign) %>','name','width=600,height=400')"><i class='fa fa-twitter-square'></i> <span>Tweet</span></a>
		<a target="_blank" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=<%= campaign_url(@campaign) %>&title=<%= @campaign.title %>','name','width=600,height=400')"><i class='fa fa-linkedin-square'></i> Share</a>
		</div>
		<% unless @campaign.expiry.past? %>
			<div class='campaign_refs'>
				<span class='ref_banner'> Please Submit Your Referral Details Below </span>
				<%= form_for [@campaign, Referral.new], remote: true do |f| %>
					<%= f.hidden_field :campaign_id, :value => @campaign.id %>
					<div class="field">
						<%= f.label :first_name %><br />
					    <%= f.text_field :first_name %>
					</div>

					<div class="field">
						<%= f.label :last_name %><br />
					    <%= f.text_field :last_name %>
					</div>

					<div class="field">
						<%= f.label :email %><br />
					    <%= f.text_field :email %>
					</div>

					<div class="field">
						<%= f.label :company %><br />
					    <%= f.text_field :company %>
					</div>

					<div class="field">
						<%= f.label :note %> <br />
						<span class='field_note'>(eg. Why would you recommend us?)</span><br />
					    <%= f.text_field :note %>
					</div>	

					<div class="field">
						<%= f.label "Phone Number" %><br />
					    <%= f.text_field :phone %>
					</div>					

					<div class="field">
						<%= f.label "Your Name" %><br />
					    <%= f.text_field :referree_name %>
					</div>

					<div class="field">
						<%= f.label "Your Email" %><br />
					    <%= f.text_field :referree_email %>
					</div>

					<div class="actions">
					  <%= f.submit "Submit Referral" %>
					</div>
				<% end %>
			</div>
		<% end %>
		<% if @campaign.rewards.any? %>
			<% @campaign.rewards.each do |r| %>
				<div class="campaign_reward clearfix">
					<span class="reward_milestone"><%= r.milestone %></span>
					<span class='table'><%= r.description.html_safe %></span>
				</div>
			<% end %>
		<% end %>
	</div>
</div>