<!DOCTYPE html>
<html>
<head>
  <title>LeadStarter</title>
  <%= favicon_link_tag %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:300italic,400italic,700italic,700' rel='stylesheet' type='text/css'><link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,600italic,700italic' rel='stylesheet' type='text/css'><link href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.1/isotope.pkgd.min.js"></script>
  <%= csrf_meta_tags %>

  <meta property="og:site_name" content="Leadstarter"/>
  <% if @campaign %>
    <meta property="og:title" content="<%= @campaign.title %>"/>
    <meta property="og:url" content="<%= campaign_url(@campaign) %>" />
    <meta property="og:description" content="<%=  strip_tags @campaign.details.truncate(150) %>"/>
  <% end %>
</head>
<body>
	
	<%= render partial: "layouts/nav" %>
	<%= yield %>
  <%= render partial: "layouts/footer" %>

</body>
</html>
